{% extends 'base.html.twig' %}

{% block title %}New CourseOffering{% endblock %}

{% block body %}
    <h1>Create new CourseOffering</h1>

    {{ include('course_offering/_form.html.twig') }}

    <a href="{{ path('app_course_offering_index') }}">back to list</a>
{% endblock %}
