security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
           entity:
               class: App\Entity\User
               property: email
        # in_memory:
        #     memory_cost:
        #         user:
        #             admin:
        #                 password: 'adminpass'
        #                 roles: 'ROLE_ADMIN'
        #             user:
        #                 password: 'userpass'
        #                 roles: 'ROLE_USER'
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator: App\Security\LoginFormAuthenticator
            logout:
                path: app_logout
                # where to redirect after logout
                # target: app_any_route

            # activate different ways to authenticate
            # https://symfony.com/doc/current/security.html#the-firewall

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used


    access_control:
        - { path: ^/register, roles: PUBLIC_ACCESS }
        - { path: ^/home,     roles: PUBLIC_ACCESS }
        - { path: ^/login,    roles: PUBLIC_ACCESS }
        - { path: ^/logout,   roles: PUBLIC_ACCESS }

        - { path: ^/admin,            roles: ROLE_ADMIN }
        - { path: ^/user,             roles: ROLE_ADMIN }
        - { path: ^/student/profile,  roles: [ROLE_ADMIN, ROLE_INSTRUCTOR] }
        - { path: ^/activity-log,     roles: ROLE_ADMIN }

        - { path: ^/subject,               roles: [ROLE_ADMIN, ROLE_INSTRUCTOR] }
        - { path: ^/module,                roles: [ROLE_ADMIN, ROLE_INSTRUCTOR] }
        - { path: ^/course,                roles: [ROLE_ADMIN, ROLE_INSTRUCTOR] }
        - { path: ^/enrollment,            roles: [ROLE_ADMIN, ROLE_INSTRUCTOR] }
        - { path: ^/instructor-assignment, roles: [ROLE_ADMIN, ROLE_INSTRUCTOR] }

        - { path: ^/instructor, roles: [ROLE_ADMIN, ROLE_INSTRUCTOR] }

        - { path: ^/student,      roles: [ROLE_ADMIN, ROLE_USER] }
        - { path: ^/modules/view, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            # By default, password hashers are resource intensive and take time. This is
            # important to generate secure password hashes. In tests however, secure hashes
            # are not important, waste resources and increase test times. The following
            # reduces the work factor to the lowest possible values.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
