{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="p-8">
  {% include 'user/_form.html.twig' with {'button_label':'Create'} %}
</div>
{% endblock %}
